<div id="mySidebar" class="sidebar" style="z-index: 10000">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#"><img src="https://www.playingwithfoodni.com/static/site/images/Animation-PWF-web.gif" style="width: 200px;" alt="logo-header"></a>
  <div>
    
  </div>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<div class="header-container">
    <div class="header-social-media">
      <a href="https://www.behance.net/playingpwf"><img src="https://www.playingwithfoodni.com/static/site/icons/behance-network.png" class="header-social-media_item"/></a>
      <a href="https://www.facebook.com/playingwithfoodni"><img src="https://www.playingwithfoodni.com/static/site/icons/facebook.png" class="header-social-media_item"/></a>
      <a href="https://www.instagram.com/playingwithfoodni/"><img src="https://www.playingwithfoodni.com/static/site/icons/instagram.png" class="header-social-media_item"/></a>
      <a href="https://www.pinterest.com/playingwithfoodni/_created/"><img src="https://www.playingwithfoodni.com/static/site/icons/pinterest.png" class="header-social-media_item"/></a>
    </div>
    <div class="header-main-logocontainer">
        <img class="header-mainlogo" src="https://www.playingwithfoodni.com/static/site/images/Animation-PWF-web.gif" alt="logo-header">
    </div>

   
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" style="margin-rigth: auto;" onclick="openNav()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="header-social-media2">
        <a href="https://www.behance.net/playingpwf"><img src="https://www.playingwithfoodni.com/static/site/icons/behance-network.png" class="header-social-media_item"/></a>
        <a href="https://www.facebook.com/playingwithfoodni"><img src="https://www.playingwithfoodni.com/static/site/icons/facebook.png" class="header-social-media_item"/></a>
        <a href="https://www.instagram.com/playingwithfoodni/"><img src="https://www.playingwithfoodni.com/static/site/icons/instagram.png" class="header-social-media_item"/></a>
        <a href="https://www.pinterest.com/playingwithfoodni/_created/"><img src="https://www.playingwithfoodni.com/static/site/icons/pinterest.png" class="header-social-media_item"/></a>
      </div>


      <a class="navbar-brand initial-none" href="/">
        <img class="navbar-logo_img" src="https://www.playingwithfoodni.com/static/site/images/Logo-PWF.png" alt="logo-header">
      </a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="letter-spacing: 0.3em;">
        <ul class="navbar-nav mx-auto">
         
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown"> 
            <a class="nav-link dropdown-toggle" href="/recipes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              RECETAS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
                <a class="dropdown-item" style="text-align:center;" href="/category/{{category.nombre}}/">{{ category.nombre }}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">BLOG</a>
          </li>
         
          <li class="nav-item active">
            <a class="nav-link" href="/services/">SERVICIOS</a>
          </li>
        </ul>
      </div>
     
    </nav>
    <div class="header-main-logocontainer2">
      <img class="header-mainlogo2" src="https://www.playingwithfoodni.com/static/site/images/Animation-PWF-web.gif" alt="logo-header">
  </div>
    
  </div>
