<div class="header-container">
    <div class="header-social-media">
      <a href="/"><img src="https://www.playingwithfoodni.com/static/site/images/iconosAsset2.png" class="header-social-media_item"/></a>
      <a href="/"><img src="https://www.playingwithfoodni.com/static/site/images/iconosAsset3.png" class="header-social-media_item"/></a>
      <a href="/"><img src="https://www.playingwithfoodni.com/static/site/images/iconosAsset4.png" class="header-social-media_item"/></a>
      <a href="/"><img src="https://www.playingwithfoodni.com/static/site/images/iconosAsset5.png" class="header-social-media_item"/></a>
    </div>
    <div class="header-main-logocontainer">
        <img class="header-mainlogo" src="https://www.playingwithfoodni.com/static/site/images/Animation-PWF-web.gif" alt="logo-header">
    </div>

   
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand initial-none" href="/">
        <img class="navbar-logo_img" src="https://www.playingwithfoodni.com/static/site/images/Logo-PWF.png" alt="logo-header">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
         
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="/recipes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recetas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
                <a class="dropdown-item" style="text-align:center;" href="/category/{{category.nombre}}">{{ category.nombre }}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Blog</a>
          </li>
         
          <li class="nav-item active">
            <a class="nav-link" href="/services/">Servicios</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>