
  <script>
    function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
    $(document).ready(function(){
      var displayed = false;
      $('#sideBarDropDown').click(function(){
          console.log("hola!");
          if (displayed){
            $('.sidebar-initial').css('display','none');
            displayed=false;
          }
          else {
            $('.sidebar-initial').css('display','block');
            displayed=true;
          }
          

        });


      var scrollTop = 0;
      $(window).scroll(function(){
        

        scrollTop = $(window).scrollTop();
        $('.counter').html(scrollTop);
        
        if (scrollTop >= 100) {
          console.log('hello');
          $('.navbar').addClass('scrolled-nav');
          $('.navbar-brand').removeClass('initial-none');
          $('.navbar-brand').addClass('fade_in');
          $('.header-social-media2').addClass('initial-none2');
        } else if (scrollTop < 100) {
          console.log('hello2');
          $('.navbar').removeClass('scrolled-nav');
          $('.header-social-media2').removeClass('initial-none2');
          $('.header-main-logocontainer').removeClass('initial-none');
          $('#global-nav').removeClass('scrolled-nav');
          $('.navbar-brand').removeClass('fade_in');
          $('.navbar-brand').addClass('initial-none');
          
          

        }
        
      }); 
      
    });
  </script>