{% include 'index/partials/head.html' %}
  <body>
      {% include 'index/partials/navbar.html' %}
      <div class="container-fluid">
        <div class="row row-vertically-centered ">
          <div class="row row-max-width row-vertically-centered">
            <div class="col-12 col-md-12" style="margin-bottom: 10px">
              <img class="recipe_img" src="{{entrada.banner.url}}" alt="cofeeimage">
            </div>
              <div class="col-12 col-md-12">
                <h1 style="text-align:left">{{entrada.titulo}}</h1>
              </div>
              <div class="col-12 col-md-12">
                <p style="text-align:left"> {{ entrada.fecha }} por {{ entrada.autor }}</p>
              </div>
              {% for content in entrada.get_contents %}
              {% if content.tipo == 'texto' %}
              <div class="col-12 col-md-12">
                <p style="text-align:justify; font-size: 1.3em; padding-bottom:3em;"> {{ content.contenido_texto }}</p>
              </div>
              {% else %}
              <div class="col-12 col-md-12" style="text-align: center;padding-bottom:3em;">
                <img class="img_blog_content" src="{{content.contenido_imagen.url}}" alt="cofeeimage">
              </div>
              {% endif %}
              {% endfor %}
          </div>
          
        </div>
        </div>
        {% include 'index/partials/footer.html' %}  
</div>
{% include 'index/partials/scripts.html' %}
  </body>
</html>