{% include 'index/partials/head.html' %}
  <body>
      {% include 'index/partials/navbar.html' %}
      <div class="container-fluid">
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width row-vertically-centered">
            <div class="col-12 col-md-6">
              <h2>  
              Jugando con recetas y fotografías gastronómicas.
            </h2>
            </div>
            <div class="col-12 col-md-6">
              <img class="row-horizontal_img cardbordered" src="https://www.playingwithfoodni.com/static/site/images/index/Galletas-intro.png" alt="cofeeimage">
            </div>
          </div>
          
        </div>
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width">
          <div class="col-12 col-md-6">
            <img class="row-vertical_img cardbordered" src="https://www.playingwithfoodni.com/static/site/images/index/Foodphotographer.png" alt="cofeeimage">
          </div>
          <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
            <h2 style="flex-grow: 1;margin-top: auto; "></h2>
            <div style="width: 100%;font-size: 3em;">
              <p>Jessica</p>
            </div>
            
            <div style="width: 100%;font-size:2em">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est 
                sed voluptatum tenetur possimus saepe voluptates deleniti veritatis officia. 
                Ullam placeat accusamus, odit repellat aperiam quis quos nobis iure ipsa?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est 
                  sed voluptatum tenetur possimus saepe voluptates deleniti veritatis officia. 
                  Ullam placeat accusamus, odit repellat aperiam quis quos nobis iure ipsa?</p>

              </p>
            </div>
           </div>
          </div>
        </div> 
        <div class="row row-padded row-vertically-centered bottom-padded-row" style="background-color:#FFFDF0;">
          <div class="row row-max-width-lg">
            <div class="col-12">
              <h1 style="text-align:center">Recetas</h1>
            </div>
            <div class="col-12 col-md-4">
              <img class="recetas_img " src="https://www.playingwithfoodni.com/static/site/images/index/Todas.png" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="recetas_img " src="https://www.playingwithfoodni.com/static/site/images/index/Saladas.png" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="recetas_img" src="https://www.playingwithfoodni.com/static/site/images/index/Dulces.png" alt="cofeeimage">
            </div>
          </div>

        </div>

        <div class="row row-padded row-vertically-centered bottom-padded-row">
          <div class="row row-max-width-lg">
            <div class="col-12 col-md-6">
              <img class="blog_img " src="{{ latest_blog.banner.url }}" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
              <h2 style="flex-grow: 1;margin-top: auto; "></h2>
              <div style="width: 100%;font-size: 3em;">
                <p>{{ latest_blog.titulo }}</p>
                <p style="font-size:0.5em">{{ latest_blog.fecha }} por {{ latest_blog.autor }}</p>
              </div>
              
              <div style="width: 100%;font-size:2em">
                <p> {{ latest_blog.contenido }}</p>
              </div>   
              <div style="width: 100%;font-size:2em">
                <p> <a href="{{ latest_blog.get_absolute_url }}"> Ver mas </a> </p>
              </div>
             </div>
            
          </div>

        </div>

        <div class="row row-padded row-vertically-centered bottom-padded-row" style="background-color:#FFFDF0;">
          <div class="row row-max-width-lg">
            <div class="col-12">
              <h1 style="text-align:center">Servicios</h1>
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img " src="https://www.playingwithfoodni.com/static/site/images/index/Contenidoredes.png" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img " src="https://www.playingwithfoodni.com/static/site/images/index/Jalea-Chilitos.png" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img" src="https://www.playingwithfoodni.com/static/site/images/index/Dulces.png" alt="cofeeimage">
            </div>
          </div>

        </div>
        <div class="row row-padded row-vertically-centered bottom-padded-row"">
          <div class="row row-max-width-lg">
            <div class="col-12 col-md-6">
              <h1 style="text-align:center; font-weight: bold;">Contacto</h1>
            </div>
            <div class="col-12 col-md-6">
            </div>
           
            <div class="col-12 col-md-6 bottom-padded-row">
              <form>
                <p style="font-size: 2em;">Para colaboraciones cotizaciones o para saludar, llena el formulario y vemos en que te podemos ayudar.</p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">Apellidos</label>
                    <input type="text" class="form-control" id="lastname">
                  </div>
                </div>
                <div class="form-group">
                  <label for="topic">Asunto</label>
                  <input type="text" class="form-control" id="topic" placeholder="">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Mensaje</label>
                  <input type="text" class="form-control" id="message" placeholder="">
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn" style="background-color: #F6DFA4">Enviar</button>
              </form>
            </div>
            <div class="col-12 col-md-6">
              <img class="recetas_img" src="https://www.playingwithfoodni.com/static/site/images/index/Jessica-Ruiz.png" alt="cofeeimage">
            </div>

          </div>

        </div>
        </div>
        <footer class="footer">
          <div class="container" style="text-align: center;">
            <span class="text" style="font-weight: bold;">&copy; Playing with Food</span>
          </div>
        </footer>
</div>

  <script src="https://www.playingwithfoodni.com/static/multislider/multislider.js"></script>
  <script>
    $(document).ready(function(){


      var scrollTop = 0;
      $(window).scroll(function(){
        
        scrollTop = $(window).scrollTop();
        $('.counter').html(scrollTop);
        
        if (scrollTop >= 100) {
          console.log('hello');
          $('.navbar').addClass('scrolled-nav');
          $('.navbar-brand').removeClass('initial-none');
          $('.navbar-brand').addClass('fade_in');
        } else if (scrollTop < 100) {
          console.log('hello2');
          $('.navbar').removeClass('scrolled-nav');
          $('.header-main-logocontainer').removeClass('initial-none');
          $('#global-nav').removeClass('scrolled-nav');
          $('.navbar-brand').removeClass('fade_in');
          $('.navbar-brand').addClass('initial-none');
          
          

        }
        
      }); 
      
    });
  </script>
  </body>
</html>
