{% include 'index/partials/head.html' %}
  <body>

      {% include 'index/partials/navbar.html' %}
      <div class="container-fluid">
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width row-vertically-centered">
            <div class="col-12 col-md-6">
              <h2 class="weighted-title first-title">  
              Jugando con recetas y fotografías gastronómicas.
            </h2>
            </div>
            <div class="col-12 col-md-6">
              <img class="row-horizontal_img cardbordered" src="https://www.playingwithfoodni.com/static/site/images/index/Galletas-intro.png" alt="cofeeimage">
            </div>
          </div>
          
        </div>
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width">
          <div class="col-12 col-md-6">
            <img class="row-vertical_img cardbordered" src="https://www.playingwithfoodni.com/static/site/images/index/Foodphotographer.png" alt="cofeeimage">
          </div>
          <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
            <h2 style="flex-grow: 1;margin-top: auto; "></h2>
            <div style="width: 100%;font-size: 3em;font-weight: 600;">
              <p class="hi_jess">Hola, soy Jessica</p>
            </div>
            
            <div style="width: 100%;font-size:2em">
              <p class="hi_p">
                Una creativa gráfica que ha tenido la oportunidad de trabajar en producciones locales 
                asistiendo dirección de arte. Me gusta cocinar y tomarle fotos a la comida para retratar su belleza e historia.
              </p>
              <p class="hi_p">
                De manera intuitiva muchos de mis proyectos (desde la universidad) incluyen comida,
                Playing with Food es una combinación de todas esas cosas que me gustan, con la 
                intención de crear, aprender y compartir con ustedes.
              </p>
            </div>
           </div>
          </div>
        </div> 
        <div class="row row-padded row-vertically-centered bottom-padded-row" style="background-color:#FFFDF0;">
          <div class="row row-max-width-lg">
            <div class="col-12">
              <h1 style="text-align:center" class="weighted-title recetas_title"> Recetas</h1>
            </div>
            <div class="col-12 col-md-4">
              <a href="/category/" style="text-decoration: None;color:black;">
                <img class="recetas_img first_recetas_img" style="margin-bottom: 0px" src="https://www.playingwithfoodni.com/static/site/images/index/Todas.png" alt="cofeeimage">
                <div class="recetas_img recetas_bottom_padding" style="text-align: center;font-weight: 600;font-size: 1.6em">
                  Todas
                </div>
  
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="/category/Dulce/" style="text-decoration: None;color:black;">
                <img class="recetas_img " style="margin-bottom: 0px" src="https://www.playingwithfoodni.com/static/site/images/index/Saladas.png" alt="cofeeimage">
                <div class="recetas_img recetas_bottom_padding" style="text-align: center;font-weight: 600;font-size: 1.6em">
                    Dulces
                </div>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="/category/Dulce/" style="text-decoration: None;color:black;">
                <img class="recetas_img" style="margin-bottom: 0px" src="https://www.playingwithfoodni.com/static/site/images/index/Dulces.png" alt="cofeeimage">
                <div class="recetas_img" style="text-align: center;font-weight: 600;font-size: 1.6em">
                  Saladas
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="row row-padded row-vertically-centered bottom-padded-row">
          <div class="row row-max-width-lg">
            <div class="col-12 col-md-6">
              <img class="blog_img " src="{{ latest_blog.banner.url }}" alt="cofeeimage">
              
            </div>
            <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
              <h2 style="flex-grow: 1;margin-top: auto; "></h2>
              <div style="width: 100%;font-size: 3em;">
                <p class="weighted-title">{{ latest_blog.titulo }}</p>
                <p style="font-size:0.7em; font-family: 'Neuton', serif;">{{ latest_blog.fecha }} por {{ latest_blog.autor }}</p>
              </div>
              
              <div style="width: 100%;font-size:2em">
                <p> {{ latest_blog.index_summarize }}</p>
              </div>   
              <div style="width: 100%;font-size:2em">
                <p> <a href="{{ latest_blog.get_absolute_url }}"> Ver mas </a> </p>
              </div>
             </div>
            
          </div>

        </div>

        <div class="row row-padded row-vertically-centered bottom-padded-row" style="background-color:#FFFDF0;">
          <div class="row row-max-width-lg">
            <div class="col-12">
              <h1 style="text-align:center" class="weighted-title">Servicios</h1>
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img " src="https://www.playingwithfoodni.com/static/site/images/index/Contenidoredes.png" alt="cofeeimage">
              <div class="recetas_img recipes-category_sub"  style="">
                Fotografía gastronómica y 
                contenido para redes
              </div>
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img " src="https://www.playingwithfoodni.com/static/site/images/index/Jalea-Chilitos.png" alt="cofeeimage">
              <div class="recetas_img recipes-category_sub" style="background-color: #F6DFA4;text-align: center;font-weight: 500;font-size: 1.4em; padding: 10px;min-height: 90px;" >
                Branding gastronómico
              </div>
            </div>
            <div class="col-12 col-md-4">
              <img class="servicios_img" src="https://www.playingwithfoodni.com/static/site/images/index/Dulces.png" alt="cofeeimage">
              <div class="recetas_img recipes-category_sub" style="background-color: #F6DFA4;text-align: center;font-weight: 500;font-size: 1.4em; padding: 10px;min-height: 90px;">
                Food & Prop styling
              </div>
            </div>
          </div>

        </div>
        <div class="row row-padded row-vertically-centered bottom-padded-row" style="">
          <div class="row row-max-width-lg">
            <div class="col-12 col-md-6">
              <h1 style="text-align:center; font-weight: 600;">Contacto</h1>
            </div>
            <div class="col-12 col-md-6">
            </div>
           
            <div class="col-12 col-md-12 bottom-padded-row" style=" display: flex;justify-content: center;">
              <div style="width: 100%; display: flex;justify-items: center;justify-content: center; max-width: 900px;">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <form action="/contact/message/" method="POST">
                      <p class="contacto-p">
                        Para colaboraciones cotizaciones o para saludar.  Llená el formulario y veamos en qué te puedo ayudar.</p>
                      <div class="form-row" style="margin-top:10px">
                        <div class="form-group col-md-6">
                          <label for="name">Nombre</label>
                          <input style="margin-top:10px" type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="lastname">Apellidos</label>
                          <input type="text" class="form-control" style="margin-top:10px" id="lastname" name="lastname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="topic">Asunto</label>
                        <input type="text" class="form-control" style="margin-top:10px" id="topic" name="topic" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Mensaje</label>
                        <input style="margin-top:10px" type="text" class="form-control" id="message" name="message" placeholder="">
                      </div>
                      <div class="form-group">
                      </div>
                      <button type="submit" class="btn" style="background-color: #F6DFA4; margin-top: 20px">Enviar</button>
                    </form>
                  </div>
                  <div class="col-12 col-md-6">
                    <img class="contact_img" src="https://www.playingwithfoodni.com/static/site/images/index/Jessica-Ruiz.png" alt="cofeeimage">
                  </div>
                  
                </div>
             
              </div>
             
            </div>

          </div>

        </div>
        </div>

        {% include 'index/partials/footer.html' %}        
</div>

{% include 'index/partials/scripts.html' %}

  </body>
</html>
