{% include 'index/partials/head.html' %}
    <body>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0" nonce="1QIFJNZn"></script>
      {% include 'index/partials/navbar.html' %}
      <div class="container-fluid">
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width row-vertically-centered">
            <div class="col-12 col-md-12" style="margin-bottom: 10px">
              <img class="recipe_img" src="{{recipe.imagen.url}}" alt="cofeeimage">
            </div>
            <div class="recipe-margin-top col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
              </div>
              <div class="col-12 col-md-12">
                <h1 class="recipe_nombre-h1" >{{recipe.nombre}}</h1>
              </div>
              <div class="recipe-margin-bottom col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
              </div>
            
              <div class="row" style="width: 100%;">
                <div class="col-12 col-md-6" style="margin-right:0px;padding-right:0px;">
                    <h2 class="recipe_subtitle-h2" style="text-align:left">Ingredientes</h2>
                    {% if recipe.get_ingredients %}
                      {% for i in recipe.get_ingredients %}
                        <li style="margin-bottom: 5px">
                          {{i}}
                        </li>
                      {% endfor %}
                    {% endif   %}
                    {% if recipe.get_sub_recipes %}
                      {% for subrecipe in recipe.get_sub_recipes %}
                      <h4>{{subrecipe.nombre}}</h4>    
                        {% if subrecipe.get_ingredients %}
                          {% for ing in subrecipe.get_ingredients %}
                          <li style="margin-bottom: 5px">
                            {{ ing }}
                          </li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                <div class="col-12 col-md-6 preparacion_div" >
                    <h2 class="recipe_subtitle-h2">Preparación</h2>
                    {% if recipe.get_pasos_preparacion %}
                      {% for paso in recipe.get_pasos_preparacion %}
                        <p>{{paso}}.</p>
                      {% endfor %}
                    {% endif  %}

                </div>
            </div>
            <div class="row row-max-width-lg" style="padding-top: 4vh; padding-bottom: 1vh">
                <div class="col-12 col-md-12" style="background-color: #F6DFA4;padding: 2em;text-align: center;">
                    <h2 class="recetas_hiciste-div">¿Hiciste esta receta?</h2>
                    <p class="hiciste_receta-content-p" style="margin-bottom: 0px;">
                      Me encantaría ver el resultado, subila a instragram   
                    </p>
                    <p style="margin-top:0px" class="hiciste_receta-content-p">
                      y etiquetame 
                      <strong>@playingwithfoodni</strong>
                    </p>
                    <p class="hiciste_receta-content-p2" style="margin-bottom: 0px;">
                      Me encantaría ver el resultado,
                    </p>
                    <p class="hiciste_receta-content-p2" style="margin-bottom: 0px;">
                      subila a instragram y etiquetame 
                    </p>
                    <p style="margin-top:0px" class="hiciste_receta-content-p2">                    
                      <strong>@playingwithfoodni</strong>
                    </p>
                    <a data-pin-do="buttonPin" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/?url={{recipe.get_encoded_absolute_url}}&media={{recipe.get_encoded_imge_url}}"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_16.png" /></a>

                    </a>
                    <div class="fb-share-button" data-href="{{recipe.get_og_url}}" data-layout="button" data-size="large">
                      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ recipe.get_og_url }}" class="fb-xfbml-parse-ignore">
                        Compartir
                      </a>
                    </div>
                </div>
                <div class="col-12 col-md-12 recipe-autora_div" >
                  <p><strong>Autora:</strong> Jessica Ruiz</p>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
            </div>
            <div class="col-12" style="margin-bottom: 1em;">
              <h2 class="recipe_subtitle-h2">Ver más recetas</h2>
            </div>
            {% for receta in recipe.get_last_recipes %}
              <div class="col-12 col-md-2" style="align-items: top;">
                <a href="{{receta.url}}">
                  <img class="recetas_img " src="{{receta.preview}}" alt="cofeeimage">
                </a>
              </div>
              <div class="col-12 col-md-2 recipe_title" style="">
                <a href="{{receta.url}}">
                  <p class="recipe_vermas-nombre">{{receta.title}}</p>
                </a>
              </div>
            {% endfor %}
            
            <!--<div class="col-12 col-md-4">
              <img class="recetas_img " src="https://dummyimage.com/600x700/000/fff" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="recetas_img" src="https://dummyimage.com/600x700/000/fff" alt="cofeeimage">
            </div>-->
          </div>
          
        </div>
        </div>
       

        {% include 'index/partials/footer.html' %}  
</div>
{% include 'index/partials/scripts.html' %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>