{% include 'index/partials/head.html' %}
  <body>
      {% include 'index/partials/navbar.html' %}
      <div class="header-social-media">
        <a href="/"><img src="http://159.65.226.234:8013/static/site/images/iconosAsset2.png" class="header-social-media_item"/></a>
        <a href="/"><img src="http://159.65.226.234:8013/static/site/images/iconosAsset3.png" class="header-social-media_item"/></a>
        <a href="/"><img src="http://159.65.226.234:8013/static/site/images/iconosAsset4.png" class="header-social-media_item"/></a>
        <a href="/"><img src="http://159.65.226.234:8013/static/site/images/iconosAsset5.png" class="header-social-media_item"/></a>
      </div>
      <div class="header-main-logocontainer">
          <img class="header-mainlogo" src="http://159.65.226.234:8013/static/site/images/Animation-PWF-web.gif" alt="logo-header">
      </div>

     
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand initial-none" href="/">
          <img class="navbar-logo_img" src="http://159.65.226.234:8013/static/site/images/Logo-PWF.png" alt="logo-header">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
           
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/recipes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recetas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Servicios</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
      <div class="container-fluid">
        <div class="row row-vertically-centered bottom-padded-row">
          <div class="row row-max-width row-vertically-centered">
            <div class="col-12 col-md-12" style="margin-bottom: 10px">
              <img class="recipe_img" src="{{recipe.imagen.url}}" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
              </div>
              <div class="col-12 col-md-12">
                <h1 style="text-align:center">{{recipe.nombre}}</h1>
              </div>
              <div class="col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
              </div>
            
              <div class="row" style="width: 100%;">
                <div class="col-12 col-md-6" style="margin-right:0px;padding-right:0px;">
                    <h2 style="text-align:left">Ingredientes</h2>
                    {% if recipe.get_ingredients %}
                      {% for i in recipe.get_ingredients %}
                        <li style="margin-bottom: 5px">
                          {{i.cantidad}} {{i.nombre}}
                        </li>
                      {% endfor %}
                    {% endif   %}
                    {% if recipe.get_sub_recipes %}
                      {% for subrecipe in recipe.get_sub_recipes %}
                      <h4>{{subrecipe.nombre}}</h4>    
                        {% if subrecipe.get_ingredients %}
                          {% for ing in subrecipe.get_ingredients %}
                          <li style="margin-bottom: 5px">
                            {{ing.cantidad}} {{ing.nombre}}
                          </li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <h3>Para tal cosa</h3>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                        </li>
                  </div>
                <div class="col-12 col-md-6" style="margin-left:0px;padding-left:0px;">
                    <h2 style="text-align:left;">Preparación</h2>
                    {% if recipe.get_pasos_preparacion %}
                      {% for paso in recipe.get_pasos_preparacion %}
                        <p>{{paso.numero}}. {{paso.descripcion}}</p>
                      {% endfor %}
                    {% endif  %}

                </div>
            </div>
            <div class="row row-max-width-lg" style="padding-top: 6vh; padding-bottom: 7vh">
                <div class="col-12 col-md-12" style="background-color: #F6DFA4;padding: 2em;text-align: center;">
                    <h2>Hiciste esta receta?</h2>
                    <p style="font-size: 1em">Me encantaría ver el resultado, subila a instragra y etiquetame
                      
                    </p>
                    <p><strong>@playingwithfoodni</strong></p>
                    <button style="letter-spacing: 5px;" class="btn btn-primary">Pinear</button>
                    <button style="letter-spacing: 5px;"  class="btn btn-primary">Compartir</button>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <hr style='border-top: 1px solid black;'>
            </div>
            <div class="col-12">
              <h2 style="text-align:left; margin: 20px 0px;">Ver más Recetas</h2>
            </div>
            {% for receta in recipe.get_last_recipes %}
              <div class="col-12 col-md-4">
                <a href="{{receta.url}}">
                  <img class="recetas_img " src="{{receta.imagen}}" alt="cofeeimage">
                </a>
              </div>
            {% endfor %}
            
            <!--<div class="col-12 col-md-4">
              <img class="recetas_img " src="https://dummyimage.com/600x700/000/fff" alt="cofeeimage">
            </div>
            <div class="col-12 col-md-4">
              <img class="recetas_img" src="https://dummyimage.com/600x700/000/fff" alt="cofeeimage">
            </div>-->
          </div>
          
        </div>
        </div>
       

          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aperiam rem veritatis suscipit ab provident in. 
        Mollitia molestiae sed itaque, optio nihil accusamus dicta? Sunt totam doloribus quis praesentium eaque!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aperiam rem veritatis suscipit ab provident in. 
        Mollitia molestiae sed itaque, optio nihil accusamus dicta? Sunt totam doloribus quis praesentium eaque!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aperiam rem veritatis suscipit ab provident in. 
        Mollitia molestiae sed itaque, optio nihil accusamus dicta? Sunt totam doloribus quis praesentium eaque!Ç
        Corrupti aperiam rem veritatis suscipit ab provident in. 
            Mollitia molestiae sed itaque, optio nihil accusamus dicta? Sunt totam doloribus quis praesentium eaque!
</div>
  <script src="http://159.65.226.234:8013/static/multislider/multislider.js"></script>
  <script>
    $(document).ready(function(){


      var scrollTop = 0;
      $(window).scroll(function(){
        
        scrollTop = $(window).scrollTop();
        $('.counter').html(scrollTop);
        
        if (scrollTop >= 100) {
          console.log('hello');
          $('.navbar').addClass('scrolled-nav');
          $('.navbar-brand').removeClass('initial-none');
          $('.navbar-brand').addClass('fade_in');
        } else if (scrollTop < 100) {
          console.log('hello2');
          $('.navbar').removeClass('scrolled-nav');
          $('.header-main-logocontainer').removeClass('initial-none');
          $('#global-nav').removeClass('scrolled-nav');
          $('.navbar-brand').removeClass('fade_in');
          $('.navbar-brand').addClass('initial-none');
          
          

        }
        
      }); 
      
    });
  </script>
  </body>
</html>