{% include 'index/partials/head.html' %}
  <body>
    {% include 'index/partials/navbar.html' %}
      <div class="container-fluid">
        <div class="row row-vertically-centered bottom-padded-row">

        <div class="row row-max-width">
          <div class="col-12 col-md-6">
            <img class="row-vertical_img cardbordered" src="{{config1.imagen.url}}" alt="cofeeimage">
          </div>


          <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
            <h2 style="flex-grow: 1;margin-top: auto; "></h2>
            <div class="services_titles">
              {{ config1.subtitulo | safe }}
            </div>
            
            <div style="width: 100%;font-size:2em" class="graph">
              {{ config1.contenido_texto | safe }}
            </div>
            <div style="width: 100%;font-size:2em" class="hi_initial_none">
              {{ config1.contenido_texto_movil | safe }}
            </div>
           </div>
        </div>

          <div class="row row-max-width" style="padding-top: 50px;">
            <div class="col-12 col-md-6 row-bottom-aligned hide-after-recipes" style="font-size:10px">
              <h2 style="flex-grow: 1;margin-top: auto; "></h2>
              <div class="services_titles" style="text-align: right;">
                {{ config2.subtitulo | safe }}
              </div>
              
              <div style="width: 100%;font-size:2em; text-align:right">
                {{ config1.contenido_texto | safe }}
              </div>
              
             </div>

             <div class="col-12 col-md-6">
                <img class="row-vertical_img cardbordered" src="{{config2.imagen.url}}" alt="cofeeimage">
              </div>
              <div class=" col-12 col-md-6 row-bottom-aligned initial-none3" style="font-size:10px">
                <h2 style="flex-grow: 1;margin-top: auto; "></h2>
                <div class="services_titles">
                  {{ config2.subtitulo | safe }}
                </div>
                
                <div style="width: 100%;font-size:2em;">
                  {{ config2.contenido_texto_movil | safe }}
                </div>
               </div>
  
            </div>

         

            <div class="row row-max-width bottom-padded-row" style="padding-top: 50px;">
                <div class="col-12 col-md-6">
                  <img class="row-vertical_img cardbordered" src="{{config3.imagen.url}}" alt="cofeeimage">
                </div>
                
                <div class="col-12 col-md-6 row-bottom-aligned" style="font-size:10px">
                  <h2 style="flex-grow: 1;margin-top: auto; "></h2>
                  <div class="services_titles">
                    {{ config3.subtitulo | safe }}
                  </div>
                  
                  <div style="width: 100%;font-size:2em" class="graph">
                    {{ config3.contenido_texto | safe }}
                  </div>
                  <div style="width: 100%;font-size:2em" class="hi_initial_none">
                    {{ config3.contenido_texto_movil | safe }}
                  </div>
                 </div>
              </div>

              <div class="row row-max-width trabajemos-div" >
                <div class="col-12 col-md-12">
                  <hr style="width: 100%;background:black">
                  <p class="trabajemos-p">TRABAJEMOS JUNTXS </p>
                  <p style="text-align:center">CUALQUIER OTRO PROYECTO QUE INCLUYA COMIDA, ESTOY INTERESADA, ESCRIBIME.</p>
                  <hr style="width: 100%;background:black">
                </div>
              </div>

              <div class="row row-padded row-vertically-centered bottom-padded-row" style="">
                <div class="row row-max-width-lg">
                  <div class="col-12 col-md-6">
                    <h1 class="h1_contacto">Contacto</h1>
                  </div>
                  <div class="col-12 col-md-6">
                  </div>
                
                  <div class="col-12 col-md-12 " style=" display: flex;justify-content: center;">
               <div style="width: 100%; display: flex;justify-items: center;justify-content: center; max-width: 900px;"> 
               <!--       <div style="width: 100%; display: flex;justify-items: center;justify-content: center"></div>-->
                      <div class="row">
                        <div class="col-12 col-md-6 servicios_contactos">
                          <form >
                            <p class="contacto-p">
                              Para colaboraciones cotizaciones o para saludar.  Llená el formulario y veamos en qué te puedo ayudar.</p>
                            <div class="form-row" style="margin-top:10px">
                              <div class="form-group col-md-6">
                                <label for="name">Nombre</label>
                                <input style="margin-top:10px" type="text" class="form-control" id="name">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="lastname">Correo</label>
                                <input type="text" class="form-control" style="margin-top:10px" id="correo" id="correo" >
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="topic">Asunto</label>
                              <input type="text" class="form-control" style="margin-top:10px" id="topic" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="inputAddress2">Mensaje</label>
                              <input style="margin-top:10px" type="text" class="form-control" id="message" placeholder="">
                            </div>
                            <div class="form-group">
                            </div>
                            <button type="submit" class="btn" style="background-color: #F6DFA4; margin-top: 20px">Enviar</button>
                          </form>
                        </div>
                        <div class="col-12 col-md-6">
                          <img class="contact_img" src="https://www.playingwithfoodni.com/static/site/images/index/Jessica-Ruiz.png" alt="cofeeimage">
                        </div>
                        
                      </div>
                   
                    </div>
                   
                  </div>
      
                </div>
      
              </div>



        </div> 
      

      
        </div>
        {% include 'index/partials/footer.html' %}  
</div>

{% include 'index/partials/scripts.html' %}
  </body>
</html>
